@import "mixins.scss";
@import "../../../../widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_Graph_Red {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
text {
	font-size: 16px;
}
rect.bar {
	fill: #FF0000;
}

}
@import "../../../../widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_Graph_GrayBlu {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
text {
	font-size: 16px;
}
rect.bar {
	fill: #5196AF;
}

}
@import "../../../../widgets/brease/BarChartItem/meta/BarChartItem_base";
.widgets_brease_BarChartItem_style_Graph_Black {
@include widgets_brease_BarChartItem_base; 
rect.bar {
@include SVGFactorBorder(0px, 2);
}
text {
	font-size: 16px;
}
rect.bar {
	fill: #000000;
}

}
@import "../../../../widgets/brease/OnlineChartHDA/meta/Graph/Graph_base";
.widgets_brease_OnlineChartHDA_Graph_style_Graph_Red {
@include widgets_brease_OnlineChartHDA_Graph_base; 
& .lineColor {
	color: #FF0000;
}

}
@import "../../../../widgets/brease/OnlineChartHDA/meta/Graph/Graph_base";
.widgets_brease_OnlineChartHDA_Graph_style_Graph_GrayBlu {
@include widgets_brease_OnlineChartHDA_Graph_base; 
& .lineColor {
	color: #5196AF;
}

}
@import "../../../../widgets/brease/OnlineChartHDA/meta/Graph/Graph_base";
.widgets_brease_OnlineChartHDA_Graph_style_Graph_Black {
@include widgets_brease_OnlineChartHDA_Graph_base; 
& .lineColor {
	color: #000000;
}

}
