@import "mixins.scss";
@mixin widgets_brease_OnlineChartHDA_Graph_base {
	& .lineColor {
		color: #FF0000;
	}
	& .disabledLineColor {
		color: #DBDBDB;
	}
	& .lineWidth {
		width: 3px;
	}

}

.widgets_brease_OnlineChartHDA_Graph_style_default {
@include widgets_brease_OnlineChartHDA_Graph_base
}
