.iconTraceView-Overview.e-btn.e-select .e-icon {
    background-image: url("../images/IconTraceView.svg");
    background-position-x: 0px;
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.iconTraceView {
    background-image: url("../images/IconTraceView.svg") !important;
}

.iconTraceView-orange{
    background-image: url("../images/iconTraceView_orange.svg") !important;
}