.iconComponentView-Overview.e-btn.e-select .e-icon {
    background-image: url("../images/IconComponentView.svg");
    background-position-x: 0px;
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.iconComponentView {
    background-image: url("../images/IconComponentView.svg");
}

.iconComponentView-orange {
    background-image: url("../images/IconComponentView_orange.svg");
}