.iconTraceConfigurationView-Overview.e-btn.e-select .e-icon {
    background-image: url("../images/IconTraceConfigurationView.svg");
    background-position-x: 0px;
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.iconTraceConfigurationView{
    background-image: url("../images/IconTraceConfigurationView.svg") !important;
}

.iconTraceConfigurationView-orange{
    background-image: url("../images/IconTraceConfigurationView_orange.svg") !important;
}