.iconLoggerView-Overview.e-btn.e-select .e-icon {
    background-image: url("../images/IconLoggerView.svg");
    background-position-x: 0px;
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.iconLoggerView {
    background-image: url("../images/IconLoggerView.svg") !important;
}

.iconLoggerView-orange {
    background-image: url("../images/IconLoggerView_orange.svg") !important;
}
